#root folder
.vs

#service
FridgeLightService/obj
FridgeLightService/bin
FridgeLightService/.vs

#unit tests service
FridgeLightService.Tests/obj
FridgeLightService.Tests/bin
FridgeLightService.Tests/.vs

#web app
FridgeLightWebApp/obj
FridgeLightWebApp/bin
FridgeLightWebApp/.vs

#unit tests web app
FridgeLightWebApp.Tests/obj
FridgeLightWebApp.Tests/bin
FridgeLightWebApp.Tests/.vs
